.pages{
    padding: 0 68px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.btn-div{
    justify-content: space-between;
}

.buttonOne{
    margin-right: 10px;
    margin-left: 4px;
}